<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Boreneoux | Ichlasul Fikri</title>
        <link
            href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap"
            rel="stylesheet"
        />
        <link rel="stylesheet" href="/css/style.css" />
    </head>
    <body class="bg-primary">
        <nav class="bg-primary w-full absolute drop-shadow-md py-2 border-b-4 border-[#1E1E1E]">
            <div class="container flex flex-wrap justify-between items-center mx-auto">
                <div class="w-full">
                    <ul class="text-white text-sm flex flex-row justify-center md:text-base">
                        <li>
                            <a href="#" class="block py-2 px-5 md:px-8">Blogs</a>
                        </li>
                        <li>
                            <a href="#" class="block py-2 px-5 md:px-8">Portfolio</a>
                        </li>
                        <li>
                            <a href="#" class="block py-2 px-5 md:px-8">Boreneoux</a>
                        </li>
                        <li>
                            <a href="#" class="block py-2 px-5 md:px-8">About Me</a>
                        </li>
                        <li>
                            <a href="#" class="block py-2 px-5 md:px-8">Contact</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

        <section id="jumbotron" class="text-white">
            <div
                class="min-h-screen max-w-5xl mx-auto px-10 lg:px-20 py-24 md:py-28 lg:py-36 flex flex-col justify-center tracking-tight"
            >
                <h1 class="font-bold text-3xl">
                    ICHLASUL FIKRI <span class="font-medium text-base">(Boreneoux)</span>
                </h1>
                <h2 class="text-lg">IT Student / Web Developer</h2>
            </div>
        </section>

        <section id="about-me" class="text-white bg-white">
            <div class="min-h-screen"></div>
        </section>

        <script src="/js/navbar.js"></script>
    </body>
</html>
